.t{
    width: 100%auto;
    height:25%auto;
    text-align: left;
}
.c{
   margin-top: 1%;
    width: 100%auto;
    height: 100%auto;
}
.r{
    margin-top: 15%;
    width: 100%;
    height: 100%;
}

