nav{
  height: 100%;
  width: auto;
}
  
  btn btn-primary{
  
  color:#ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:1%;
    text-decoration: none;
  
  }

  .botonCarrito{
    text-align: left;
    color: white;
    position: sticky;
    margin-right: 60%;
  }

 

 #logolibre{
    width: 4em;
    margin: 0%;
    text-align: right;
  }

  .navv{
    background-color: #ffffff;
    
  }

  
 
  
